*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: #34353A;
    --secondary:#FFC86B;
    --tertiary:#3D3E42;
    --forth:#31333B;
    --fifth:#3D3E42;
    --sixth:#30323A;
    --font-size:50px;
    --skils:#3D3E42;
}

body{
    height: 100vh;
    width: 100vw;
    background-color:var(--primary);
}  


/*        Navigation-bar             */

.top-nav {
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.top-nav img{
    height: 70px;
}

.top-nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    align-items:center ;
    justify-content: center;
    color: var(--secondary);
    font-weight: 500;
    font-size: 20px;
}

.top-nav a {
    color: var(--secondary);
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.top-nav a:hover{
    color: rgb(255, 0, 43);
}


.top-nav input{
    height: 20px;
    background-color: #3D3E42;
}

/*             main-bar           */
.main-bar{
    height: 500px;
    width: 100vw;
    display: flex;
   
}

.profile{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    position: relative;
}

.about-section{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name { 
    font-size: 70px;
    color: var(--secondary);
}

.profile h4{
    font-size: 30px;

}

.profile button{
    height: 40px;
    border: 3px solid var(--secondary);
    color: var(--secondary);
    background-color: transparent;
    width: 100px;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: end;
    justify-content: end ;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 92%;
    right: 70%;
    bottom: 40%;
    z-index: 1;

}   

.icons i{
    color: white;
    font-size: 18px;

}

.about{
    color: white;
    font-size: 16px;
    padding: 0 100px 100px 100px;
    margin: 100px 100px 0px 100px;
}

.about h1{
    font-size: var(--font-size);
}

.about span{
    color: var(--secondary);
}

.Myskill {
    color: white;
    text-align: center;
    font-size: var(--font-size);
}

.skills-1{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.skills-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-4{
    display: flex;
    align-items: center;
    justify-content: center;
}