*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
    
}


::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
  }

:root{
    --primary: #34353A;
    --secondary:#FFC86B;
    --tertiary:#3D3E42;
    --forth:#31333B;
    --sixth:#30323A;
    --font-size:50px;
    --border:#3D3E42;
    --letter:#E5E5E6;
    --hover:#F0BF6C;
    --experience-section:#3D3E42;
}

body{
    background-color:var(--primary);
    padding: 0 100px 0 100px;

}  


/*        Navigation-bar             */

.top-nav {
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.top-nav img{
    height: 70px;
}

.top-nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    align-items:center ;
    justify-content: center;
    color: var(--secondary);
    font-weight: 750;
    font-size: 18px;
}

.top-nav a {
    color: #535458;
    text-decoration: none;
    padding: 7px;
    text-align: center;

}

.top-nav a:hover{
    color: var(--letter);
}

.search-box{
    position: relative;
}

.search-box i{
    position: absolute;
    top: 8px;
    right: 9px;
    color:#909092;
    font-size: 15px;
}   

.search-box input{
    height: 30px;
    width: 120px;
    background-color: #3D3E42;
    border-radius: 5px;
    border: none;
}



/*             main-bar           */

.profile{
    display: flex;
    justify-content: space-between;
}

.about-section{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.about-section h1 {
    color: var(--letter);
}

.about-section span{
    color: var(--secondary);
    font-size: 60px;
}


.profile h4{
    font-size: 20px;
    color: var(--letter);
    margin-top: 10px;

}

.profile button{
    height: 40px;
    border: 3px solid var(--secondary);
    color: var(--secondary);
    background-color: transparent;
    width: 120px;
    cursor: pointer;
    margin-top:20px ;
    border-radius: 6px;
}
.parent{
position: relative;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 10px;
    gap: 5px;

}   
.divider{
    width: 2px;
    height: 60px;
    background-color: var(--secondary);
    margin-bottom: 10px;
}

.icons i{
    color: white;
    font-size: 18px
}

.about{
    color: var(--letter);
    font-size: 16px;
}


.about h1{
    font-size: var(--font-size);
}

.about span{
    color: var(--secondary);
}
.divide{
    display: flex;
    gap: 20px;
    
}


.divider-2{
    height: 2px;
    min-width: 50px;
    background-color: var(--secondary);
    margin-top: 10px;
}

.myskills{
    text-align: center;
    color: var(--letter) ;
    font-size: var(--font-size);
    margin-top: 100px;
}


.Skills-Section i{
    font-size: 60px;

}

 .card{
    width: 150px;
    height: 150px;
    background-color: var(--border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    cursor: pointer;
}

.card img{
   max-width: 60px;
}

.card:hover{
    background-color: var(--hover);
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.break{
    position: relative;

}

.circle{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #6C5E49;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.portfolio{
    background-color: #31333B;
    width: 100%;
}

.My-Portfolio{
    color: var(--letter);
    font-size: var(--font-size);
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

.img{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom:10px ;
    position: relative;
}

.container img{
    object-fit: cover;
    max-width: 240px;

}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 1s;
}

.overlay:hover{
    opacity: 1;
}


.overlay h1{
    font-size: 16px;      
    color: #efef;
    font-weight: bold;
}

.overlay p{
    font-size: 14px;
}

.overlay button{
    color: black;
    background-color: var(--hover);
    border-radius: 6px;
    width:70px;
    height: 20px;
}

.view-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-button button{
    background-color: var(--hover);
    color: #645847;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    width:100px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

/*              Experience Section                */

.experience-section{
    height: 500px;
  position: relative;
    background-color: var(--experience-section);
    margin: 10px;
}

.date-divider{
    display: flex;
    gap: 30px;
    margin-left: 40px;
    margin-top: 30px;   
    top: 0;
    left: 0;

}

.glow-button{
    position: absolute;
    background-color: var(--secondary);
    box-shadow:  0px 0px 9px 4px var(--hover);
    height: 20px;
     min-width: 20px;
    border-radius: 50%;
    top:  0px;
    left: 30px;
}


.divider-3{
    height: 170px;
    width: 5px;
    background-color: #E5E5E6;
    border-radius: 6px;
    left: 0;
    top: 70px;
    margin-right: 30px;
    margin-top: 33px;
}

.eperience{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.glow-button-2{
    position: absolute;
    background-color: var(--secondary);
    box-shadow:  0px 0px 9px 4px var(--hover);
    height: 20px;
     min-width: 20px;
    border-radius: 50%;
    left: 30px;
}

/*                  testominal-section                */

.testominal-section{
    background-color: var(--sixth);
}

.text-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


.text-area h2{
   position: absolute;
   top: 90px;
   left: 0;
}

.divide-3{
    position: relative;
   
}

.divider-4{
    height: 2px;
    min-width: 50px;
    background-color: var(--secondary);
    position: absolute;
    bottom: -195px;
    
}

.testimonal-image{
    display: flex;
    justify-content: flex-end;
}

.text{
    position: absolute;
    top: 185px;
    width: 30rem;
    margin-left:66px ;
}

span{
    color: var(--secondary);
}
